@page
@using DinoDiner.Menu;
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>
<div class="content">
<div class="menu">
    <h2>Combos</h2>
    <div>

        @foreach (CretaceousCombo item in Model.combos)
        {
            <div class="menu-item">
                <h3>@item.Description ($@item.Price)</h3>
                <p>@item.Drink, @item.Side</p>
                <h4>Calories: @item.Calories</h4>
                <h4>Ingredients: </h4>
                @foreach (string s in item.Ingredients)
                {
                    <p>@s</p>
                }
            </div>
        }

    </div>

    <h2>Entrees</h2>
    <div>

        @foreach (IMenuItem item in Model.entrees)
        {
            <div class="menu-item">
                <h3>@item.Description ($@item.Price)</h3>
                <h4>Calories: @item.Calories</h4>
                <h4>Ingredients: </h4>
                @foreach (string s in item.Ingredients)
                {
                    <p>@s</p>
                }
            </div>
        }

    </div>
    <h2>Sides</h2>

    <div>

        @foreach (IMenuItem item in Model.sides)
        {
            <div class="menu-item">
                <h3>@item.Description ($@item.Price)</h3>
                <h4>Calories: @item.Calories</h4>
                <h4>Ingredients: </h4>
                @foreach (string s in item.Ingredients)
                {
                    <p>@s</p>
                }
            </div>
        }

    </div>

    <h2>Drinks</h2>

    <div>

        @foreach (IMenuItem item in Model.drinks)
        {
            <div class="menu-item">
                <h3>@item.Description ($@item.Price)</h3>
                <h4>Calories: @item.Calories</h4>
                <h4>Ingredients: </h4>
                @foreach (string s in item.Ingredients)
                {
                    <p>@s</p>
                }
            </div>
        }

    </div>
</div>

<form method="post">
    <h4>Search</h4>
    <input type="text" name="search" value="@Model.search" id="search" />
    <input type="submit" value="Search"/>
    <input type="submit" value="Apply Filter(s)" name="filter" id="filter"/>
    <h4>Menu Category</h4>
    <div class="checkbox-list">
        <label>
            <input name="category" type="checkbox" value="Combo" checked="@Model.category.Contains("Combo")" />
            Combos
        </label>
        <label>
            <input name="category" type="checkbox" value="Entree" checked="@Model.category.Contains("Entree")" />
            Entrees
        </label>
        <label>
            <input name="category" type="checkbox" value="Side" checked="@Model.category.Contains("Side")" />
            Sides
        </label>
        <label>
            <input name="category" type="checkbox" value="Drink" checked="@Model.category.Contains("Drink")" />
            Drinks
        </label>
    </div>

    <h4>Price</h4>
    <div class="price">
        <label>
            <input type="number" min="0" step=".01" name="minPrice" />
            Minimum Price
        </label>
        <label>
            <input type="number" max="10" step=".01" name="maxPrice" />
            Max Price
        </label>

    </div>

    <h4>Excluding Ingredients</h4>
    <div class="checkbox-list">
        @foreach (string ingredient in Model.menu.Ingredients)
        {
        <label>
            <input name="ingredients" type="checkbox" value="@ingredient"/>
            @ingredient
        </label>
        }
    </div>

</form>
</div>